<html>
    <head>
        <link href="theme.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>PyJournal</h1>
            <nav>
                <ul>
                    <li><a href="home.html"><h3>Home</h3></a></li>
                    <li><a href="detail.html"><h3>Detail</h3></a></li>
                    <li><a href="edit_form.html"><h3>Edit Entry</h3></a></li>
                    <li><a href="create_form.html"><h3>Create New Entry</h3></a></li>
                </ul>
            </nav>
        </header>
        <article>
            {{% if entries %}}
            <ul>
            </ul>
        </article>
        <footer>

        </footer>
    </body>
</html>